@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: #486fa9;
    font-family: "Source Sans Pro", sans-serif;
    
    color: #ffff;
    font-size: 1.5rem;
    background-size: cover;
}

h1 {
    margin: 30px;
    font-family: "Roboto Slab", cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4.5rem;
    color: #4ecca3;
    text-align: center;
}

.butn {
    background: #4c6c97;
    font-family: "Roboto Slab", cursive;
    border-radius: 7px;
    color: #ffff;
    font-size: 30px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
    
}

.butn:hover {
    background: #232931;
    text-decoration: none;
}

.dice {
    text-align: center;
    display: inline-block;
    margin: 10px;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}